**/data_dir/
run/datasets/data/
**/__pycache__/
**/.ipynb_checkpoints
.idea/
**/results
*-l_mp*
**run/results/*
*.csv
*.json
*.pkl
*.h5
*.hdf5
*.log
*.pyc
*.yaml_done
*events.out.tfevents.*
*.ckpt
**/run/configs/example*
db.*sqlite*
run/lightning_logs/version_220/33747/default/sprite.png
*.tsv
*.png
*.pbtxt
*.yaml
